.titlePost {
  /* grid-area: d; */
}

.textPostHolder {
  margin-bottom: 20px;
}

.textPost {
  font-size: 22px;
}

.btn {
  width: 120px;
  height: 44px;
  background-color: lightblue;
  margin-bottom: 30px;
  border: rgb(116, 201, 230);
  font-size: 22px;
}
