.nav {
  grid-area: nav;
  margin-right: 3px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(35, 214, 11, 0.9) 100%
  );
}

.item {
  margin: 10px 0 30px 15px;
  border-radius: 15px;
  padding: 10px;
  width: 70%;
}

.nav div:hover {
  margin: 10px 0 30px 15px;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 30px 60px -5px #000;
}

.nav div .item:hover {
  color: blue;
}

.item a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

/* .item a.active {
  color: goldenrod;
} */